@import "tailwindcss";
/* Tus otros estilos aquí debajo */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... después de esto puede ir tu código con los @apply *//* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500;
}

.scroll-container {
  /* Habilita el desplazamiento vertical */
  overflow-y: scroll; 
  
  /* Altura fija para que el scroll funcione, ajusta este valor */
  height: 80vh; 
  
  /* Habilita Scroll Snap para que se detenga perfectamente en cada carta */
  scroll-snap-type: y mandatory;
  
  /* Espacio entre las cartas */
  padding: 1rem; 
}

/* Estilos para cada tarjeta (componente ShowcaseCard) */
.scroll-container > a {
  /* Fuerza que cada tarjeta ocupe el 90% de la altura visible */
  height: 90%; 
  margin-bottom: 2rem;
  
  /* Hace que el scroll se detenga justo en esta tarjeta */
  scroll-snap-align: center; 
  
  /* Estilo base (las hace más grandes que el tamaño de una columna) */
  width: 95%; 
  margin-left: auto;
  margin-right: auto;
}